*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: cornsilk;
}
nav{
    border: 2px solid beige;
    height: 90px;
    background-color: bisque;
    display: flex;
}
nav section{
    /* border: 2px solid; */
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav section img{
    /* border: 2px solid; */
    height: 87px;
    width: 100px;
    align-items: center;
    border-radius: 10%;
}
nav div{
    /* border: 2px solid; */
    width: 30%;
    height: 80px;
    float: right;
    position: absolute;
    left: 65%;
    background-color: bisque;
}
nav div ul{
    /* border: 2px solid; */
    height: 30px;
    list-style: none;
    font-size: large;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
    cursor: pointer;
}
#d1{
    /* border: 2px solid; */
    height: 300px;
    width: 500px;
    align-self: center;
    margin-left: 28%;
    margin-top: 8%;
    line-height: 40px;
    font-style: italic;
}
