*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: beige;
}
div{
    /* border: 2px solid; */
    height: 300px;
    width: 300px;
    margin-left: 38%;
    margin-top: 12%;
}
div img{
    border: 2px solid;
    height: 300px;
    width: 300px;
    border-radius: 10%;
}
